<h1>Choose players for the game: <strong><%=@game.name %></strong> </h1>



<h2> Add 2 Players to the Game </h2>
<br><br>
<br>

<h2>Players ready for <%=@game.name%>: </h2>

<ol>
  <% @game.players.each do |player| %>
  <li><h3> <%=player.name %></h3></li>
  <% end %>
</ol>
<br><br>
<br><br>
<br><br>
<% if @game.players.length < 2 %>
<hr>
<p> Add Players Name </p>

  <div class= "form-group">
    <form action="/add_player" method="post">
      <input id= "game_id" name= "game_id" type="hidden" value= '<%= @game.id%>'>
      <input id="name" name="name" type="text">
      <button class= "btn btn-success" type= "submit"> Add Player </button>
    </form>
  </div>
<% else %>

  <a href="/game/<%= @game.id %>/preflop" type="button" class="btn btn-lg btn-success">Deal first hand</a>
<% end %>
