<div class="row">
  <p>Round <%= @game.current_hand.current_round %></p>
  <p>Pot <%= @game.current_hand.pot %> </p>
</div>
<div class="row">
  <div class= "col-md-5">

    <h3><%= @player1.name%> : stack <%= @player1.stack %></h3>
    <% if @player1.is_turn && !@game.current_hand.is_over? %>

      <img class="face_up" src="/images/resources/<%= @player1.cards[0].url%>" />
      <img class="face_up" src="/images/resources/<%= @player1.cards[1].url%>" />

    <% elsif !@game.current_hand.is_over? %>

      <img class="face_down" src="/images/card_back.png" />
      <img class="face_down" src="/images/card_back.png" />

    <% elsif @game.current_hand.is_over? %>

      <img class="face_up" src="/images/resources/<%= @player1.cards[0].url%>" />
      <img class="face_up" src="/images/resources/<%= @player1.cards[1].url%>" />

    <%end%>

  </div>
  <div class= "col-md-6">
    <br><br>
    <br>
    <% if @player1.is_turn && !@game.current_hand.is_over?%>
      <% if @player2.choice == "bet/raise" %>
        <h4><%= @player2.name %> bet/raises <%= @game.current_hand.last_bet %></h4>
      <% end %>
      <!-- display options -->
      <% @game.current_hand.current_choices(@player1, @player2).each do |choice| %>
        <% if choice == "raise" %>
          <h1>Amount</h1>
          <form action="/game/<%=@game.id %>/bet" method="post">
            <input type="text" name="amount" >
            <button class="btn btn-success" type="submit"> Raise </Button>
          </form>
          <br>
        <% elsif choice == "bet" %>
          <h1>Amount</h1>
          <form action="/game/<%=@game.id %>/bet" method="post">
            <input type="text" name="amount" >
            <button class="btn btn-success" type="submit"> Bet </Button>
          </form>
          <br>
        <% else %>
          <form action="/game/<%=@game.id%>/<%=choice%>" method="post">
            <button class = "btn btn-info" type="submit"><%=choice %></button>
          </form>
        <%end%>

      <% end %>
    <% end %>

  </div>
</div>

<strong><hr></strong>

<% if @game.current_hand.cards.any? %>
  <div class="row">
    <% @game.current_hand.cards.each do |board_card| %>
      <img class="face_up" src="/images/resources/<%= board_card.url %>" />
    <% end %>
  </div>
  <strong><hr></strong>
<% end %>

<div class= "row">
  <div class= "col-md-5">
    <h3> <%=@player2.name %> : stack <%= @player2.stack %></h3>

    <% if @player2.is_turn && !@game.current_hand.is_over? %>

      <img class="face_up" src="/images/resources/<%= @player2.cards[0].url%>" />
      <img class="face_up" src="/images/resources/<%= @player2.cards[1].url%>" />

    <% elsif !@game.current_hand.is_over? %>

      <img class="face_down" src="/images/card_back.png" />
      <img class="face_down" src="/images/card_back.png" />

    <% elsif @game.current_hand.is_over? %>

      <img class="face_up" src="/images/resources/<%= @player2.cards[0].url%>" />
      <img class="face_up" src="/images/resources/<%= @player2.cards[1].url%>" />

    <%end%>

  </div>
  <div class= "col-md-6">
    <br><br>
    <% if @player2.is_turn && !@game.current_hand.is_over? %>
      <% if @player1.choice == "bet/raise" %>
        <h4><%= @player1.name %> bet/raises <%= @game.current_hand.last_bet %></h4>
      <% end %>
      <!-- display options -->
      <% @game.current_hand.current_choices(@player2, @player1).each do |choice| %>
      <% if choice == "raise" %>
        <h1>Amount</h1>
          <form action="/game/<%=@game.id %>/bet" method="post">
            <input type="text" name="amount" >
            <button class="btn btn-success" type="submit"> Raise </Button>
          </form>
          <br>
        <% elsif choice == "bet" %>
          <h1>Amount</h1>
          <form action="/game/<%=@game.id %>/bet" method="post">
            <input type="text" name="amount" >
            <button class="btn btn-success" type="submit"> Bet </Button>
          </form>
          <br>
        <% else %>
          <form action="/game/<%=@game.id%>/<%=choice%>" method="post">
            <button class = "btn btn-info" type="submit"><%=choice %></button>
          </form>
        <%end%>
      <% end %>
    <% end %>
    <br>

  </div>

</div>

<div class="row">
  <% if @game.current_hand.is_over? %>
    <% if @game.current_hand.is_tie? %>
      <h1>The game is a tie.</h1>
    <% else %>
      <h1> <%= @game.current_hand.winning_player.name %> wins the pot</h1>
    <% end %>
    <a href="/game/<%=@game.id %>/preflop" type="button" class="btn btn-success">New hand</a>
    <a href="/" type="button" class="btn btn-warning">New game</a>
  <% end %>
</div>


<!-- <img id="card_back" src="/images/card_back.png" /> -->
